#message {
  position: relative;
}
.season {
position: relative;
/*float: left;*/
display: inline;
margin-top: 0px;
margin-right: 10px;
}

h1 {
  position: relative;
}
h2 {
  position: relative;
}
#reset {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}