.season {
position: relative;
float: left;
margin-top: 0px;
margin-right: 10px;
}

h1 {
  position: relative;
}
h2 {
  position: relative;
}
#restart {
  position:absolute;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}