body {
  background-color: #ECDDC6;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Berkshire Swash";
  font-size: 52px;
}

#wrapper {
  background: #f1e767;
  background: -moz-linear-gradient(-45deg, #f1e767 0%, #94c9a3 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f1e767), color-stop(100%, #94c9a3));
  background: -webkit-linear-gradient(-45deg, #f1e767 0%, #94c9a3 100%);
  background: -o-linear-gradient(-45deg, #f1e767 0%, #94c9a3 100%);
  background: -ms-linear-gradient(-45deg, #f1e767 0%, #94c9a3 100%);
  background: linear-gradient(135deg, #f1e767 0%, #94c9a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#94c9a3', GradientType=1 );
  border-radius: 15px;
  margin: 10px 40px 40px 40px;
  border: 2px dashed white;
  box-shadow: 0 0 0 3px #94C9A3, 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 40px;
  height: 600px;
}

#summer-icon {
  background-image: url("../img/summer.png");
  display: inline;
}

#autumn-icon {
  background-image: url("../img/autumn-plain.png");
  display: inline;
  margin-left: 250px;
}

#spring-icon {
  background-image: url("../img/spring-plain.png");
  display: inline;
  margin-left: 500px;
}

#winter-icon {
  background-image: url("../img/winter.png");
  display: inline-block;
  margin-left: 750px;
}

.icon {
  background-repeat: no-repeat;
  height: 373px;
  width: 200px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
  animation-name:icon;
  -webkit-animation-name:icon;
  bottom: 0;
  animation-duration:1.2s;
  animation-timing-function:ease;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  -webkit-animation-duration:1.2s;
  -webkit-animation-timing-function:ease;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-animation-play-state:running;
  position:absolute;
  left: 0;
  z-index:1;
  display: inline-block;
}

.dancing-icon {
  margin: 100px;
  position: relative;
}

@keyframes icon {
  0%   {top:0;transform:rotate(-15deg)}
  10% {top:-25px;transform:rotate(0deg);}
  50% {top:0;transform:rotate(15deg);}
  60% {top:-25px;transform:rotate(0deg);}
  100% {top:0;transform:rotate(-15deg);}
}

@-webkit-keyframes icon {
  0%   {top:0;transform:rotate(-15deg)}
  10% {top:-25px;transform:rotate(0deg);}
  50% {top:0;transform:rotate(15deg);}
  60% {top:-25px;transform:rotate(0deg);}
  100% {top:0;transform:rotate(-15deg);}
}
