div#memory_board{
  background: #CCCCCC;
  border: #999999 1px solid;
  width: 800px;
  height: 540px;
  padding:24px;
  margin: 0px auto;
}

.memory_cards{
  position: relative;
  border: #000 1px solid;
  width: 99px;
  height: 99px;
  float: left;
  margin: 10px auto;
  cursor: pointer;
}
.pic{
  height: 99px;
  width: 99px;
}
