/* border and surrounding box */
body {
  background-color: #ECDDC6;
  width: 100%;
}

#wrapper {
  background: #274e87;
  background: -moz-linear-gradient(-45deg, #274e87 0%, #172e50 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #274e87), color-stop(100%, #172e50));
  background: -webkit-linear-gradient(-45deg, #274e87 0%, #172e50 100%);
  background: -o-linear-gradient(-45deg, #274e87 0%, #172e50 100%);
  background: -ms-linear-gradient(-45deg, #274e87 0%, #172e50 100%);
  background: linear-gradient(135deg, #274e87 0%, #172e50 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#274e87', endColorstr='#172e50', GradientType=1 );
  border-radius: 15px;
  margin: 10px 40px 40px 40px;
  border: 2px dashed white;
  box-shadow: 0 0 0 3px #172E50, 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 40px;
  overflow: auto;
}

/* main poem text */

h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 52px;
  color: white;
  padding-bottom: 30px;
}

.poem {
  position: relative;
  font-family: "Berkshire Swash", cursive;
  font-size: 32px;
  color: white;
  line-height: 50px;
  font-style: italic;
}

#begin {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  color: white;
  margin-top: 30px;
  float: left;
}

/* styles for dice game */

h3 {
  font-family: "Berkshire Swash", cursive;
  color: white;
  font-size: 32px;
  line-height: 75px;
  font-style: italic;
  letter-spacing: 2px;
}

h4 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  color: white;
}

li {
  display: inline;
}

.dice {
  display: inline;
  height: 100px;
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.answer {
  display: inline;
}

#hint-place {
  position: relative;
  float: right;
  transform: scale(0.9);
}

#start {
  float: left;
  height: 447px;
  width: 240px;
  margin-left: 20px;
  margin-right: 20px;
}

#autumn-link {
  float: left;
}

/* styles for hint */

h2 {
  font-style: "Open Sans Condensed", sans-serif;
}

.win {
  float:right;
}
